.form_control {
    display: flex;

    flex-direction: column;

    margin-bottom: 1.5em;
}

.form_control label {
    font-size: .8em;

    font-weight: bold;

    margin-bottom: .6em;
}

.form_control select {
    background-color: #FFF;

    border: 1px solid #777;

    border-radius: 5px;

    padding: .7em;
}